
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Home</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'App1/css/styles.css' %}" rel="stylesheet" />
    </head>

    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">Mi Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'dash' %}">Blog</a></li>
                        
                        {% if not request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href=" {% url 'login' %} ">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href=" {% url 'register' %} ">Registrate</a></li> 
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href=" {% url 'user_profiles' %}">Usuarios</a></li>
                        <li class="nav-item"><a class="nav-link" href=" {% url 'new_post' %}">Nuevo Post</a></li>
                        <li class="nav-item"><a class="nav-link" href=" {% url 'user_detail' user.id %} ">[Mi Perfil]</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                        
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block changeContent %}
    
        {% endblock changeContent %}
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    {% block titulo_principal %}
                    <div class="post">
                        <div class="postElements">
                            <h2>{{ post.title }} El post fue eliminado</a></h2>
                            <div class="backButton"><a href=" {% url 'dash' %}"><h4>Volver</h4></a></div>
                        </div>    
                    </div>
                    
                       
                    {% endblock %}

                    {% block sub_titulo_principal %}

                    {% endblock %}
                    
                </div>
            </div>
        </header>


{% load static %}

  



    


