{% extends "padre_post.html" %}
{% load static %} 

{% block titulo_principal %}
<h1 class="fw-bolder mb-1">Mecanicos de primera!</h1>
{% endblock %}
{% block fecha_posteo %}
<div class="small text-muted">January 1, 2022</div>
{% endblock %}
{% block parrafos %}
<p class="fs-5 mb-4">NUESTRO EQUIPO DE PROFESIONALES SON SIMBOLO DE TRANQUILIDAD</p>
<p class="fs-5 mb-4">Nuestros empleados son sometidos a los mas altos procedimientos de evaluacion para ser considerados para el empleo</p>
{% endblock %}

{% block foto_principal %}
<figure class="mb-4"><img class="img-fluid rounded" src="media\blog\mecanico.jpeg" alt="..." /></figure>
{% endblock %}
{% block epigrafe %}
<div class="small text-muted">Marcelo, primo de Tomas(fundador de J&T automotriz)</div>
{% endblock %}