{% extends "padre_post.html" %}
{% load static %} 

{% block titulo_principal %}
<h1 class="fw-bolder mb-1">Nuestras instalaciones!</h1>
{% endblock %}
{% block fecha_posteo %}
<div class="small text-muted">January 1, 2022</div>
{% endblock %}
{% block parrafos %}
<p class="fs-5 mb-4">Contamos con lo ultimo en herramientas de la industria automotriz!</p>
<p class="fs-5 mb-4">Nuestro ultimo ingreso, el RACKMACA-FV87, lo ultimo en elevadores por suspencion aerea</p>
{% endblock %}

{% block foto_principal %}
<figure class="mb-4"><img class="img-fluid rounded" src="media\blog\motor.jpeg" alt="..." /></figure>
{% endblock %}
{% block epigrafe %}
<div class="small text-muted">Foto del RACKMACA-FV87, tomada por Juan</div>
{% endblock %}